.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}


@media screen and (max-width: 450px) {
    .header-div {
        flex-direction: column;
        gap: 10px;
        min-width: 250px;
    }
    
}

.header-div h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #333;
}

.header-div nav {
    display: flex;
    gap: 20px;
}

.header-div nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-div nav a:hover {
    color: #007BFF;
}