.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: min(8em, 10%)
}




.header-div h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #333;
}

.header-div nav {
    display: flex;
    gap: 2em;
}

.header-div nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-div nav a:hover {
    color: #007BFF;
}

@media screen and (max-width : 450px) {
    .header-div {
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        justify-content: center;
        
    }

    .header-div h1 {
        font-size: 0.8em;
    }
    
}