.container {
    width: max(150px, 20%);
    height: max(150px, 20%);
    padding: 0.2em 0.2em 1em 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;    
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  }

.container > * {
    display: inline-block;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #007BFF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
  width: 90%;
  margin: auto;
}

.container > *:hover, :focus {
    background-color: #ddd;
}