.table-responsive {
    width: 100%;
    overflow-x: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em ;
   
}

.table-responsive table {
    width: 80%;
    table-layout: fixed; /* this makes the table and its cells use the specified width */
    border-collapse: collapse;
    margin:auto
}

.table-responsive th,
.table-responsive td {
    width: 100px; /* adjust this value as needed */
    overflow: hidden; /* this hides content that exceeds the cell width */
    text-overflow: ellipsis; /* this displays an ellipsis ('...') for overflow content */
    white-space: nowrap; /* this prevents the content from wrapping to the next line */
    
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.table-responsive th {
    background-color: #007BFF;
    color: #fff;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 0.5em 0 0.5em 0 ;
    
    
    

}

.table-responsive td {
    text-align: center;
    width: 35px;
}

.table-responsive button {
    display: inline-block;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
    width: 25%;
    margin:auto
}

.table-responsive button:hover, :focus {
    background-color: #ddd;
}