.windheader-div {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header-icon {
  display: none;
}

p {
  display: block;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 799px) {
  p {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  p {
    display: none;
  }

  .header-icon {
    display: block;
    width: 75%;
    height: 75%;
    margin: auto;
  }
}
